* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
}

/* start: navbar style */
.navbar {
  display: flex;
  background-color: dodgerblue;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}
/* end: Navbar style */

/* start: Search container */
#searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/map.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#searchContainer .searchForm {
  display: flex;
  flex-direction: row;
  width: 500px;
}
.searchForm input[type=text] {
  padding: 10px;
  font-size: 17px;
  width: 90%;
}

.searchForm button {
  width: 10%;
  font-size: 17px;
  border-left: none;
  background: #2196F3;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.searchForm button:hover {
  background-color: #0b7dda;
}

@media only screen and (max-width: 600px) {
  #searchContainer {
    width: 100%;
    height: 250px;
  }
  #searchContainer .searchForm {
    width: 60%;
  }
}
/* end: Search container */

/* start: Style for amaia gentri */
.amaiaGentri {
  width: 80%;
  background-image: url(../images/amaia2.jpeg);
  background-position: center;
  height: 300px;
  margin: 10px auto;
}

@media only screen and (max-width: 600px) {
  .amaiaGentri {
    width: 100%;
    height: 250;
  }
}
/* end: Style for amaia gentri */

/* start: Footer style */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: gray;
}

.footer .aboutUs {
  width: 33.33%;
  text-align: justify;
  padding: 20px;

}

.footer .footerMenu {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .socialIcon {
  width: 33.33%;
}

.socialIcon img {
  width: 35px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}
/* end: Footer style */
