* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
}

/* start: navbar style */
.navbar {
  display: flex;
  background-color: dodgerblue;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}
/* end: Navbar style */

/* start: Search container */
#searchContainer {
  background-image: url(../images/map.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
/* end: Search container */
